@import "../css/base.scss";
$baseColor: #fcffb4;
$viewW: 750px;
$bgColor: #fcfff8;
$color: #fffb88;

.zmiti-form-main-ui {
	overflow: hidden;
	background: #0e0c3e;
	opacity:0;
	z-index: -1;
	position: absolute !important;

	&.show{
		opacity:1;
		z-index: 202;
	}
	.zmiti-moon1{
		@include pos(a);
		width: 150px;
		top: -40px;
		left: 30px
	}
	.zmiti-plane{
		@include pos(a);
		width: 250px;
		right: -50px;
		top:-50px;
	}

	.zmiti-subtitle{
		width: 550px;
		margin: 100px auto 0;
	}

	.zmiti-name-C{
		$color:#fdeb59;
		width: $viewW;
		@include pos(r);
		margin-top: 40px;
		.zmiti-add{
			@include pos(a);
			right: 5px;
			width: 50px;
			top:15px;

		}
		&>.zmiti-name-input{
			width: 620px;
			height: 80px;
			margin: 0 auto;
			border:1px solid $color;
			text-align: center;
			overflow: hidden;
			span{
				@include pos(a);
				width: 20px;
				height: 20px;

				border:3px solid $color;
				&:nth-of-type(1){
					left: 64px;
					top: 0;
					border-right:none;
					border-bottom:none;
				}
				&:nth-of-type(2){
					left: 661px;
					top: 0;
					border-left:none;
					border-bottom:none;	
				}
				&:nth-of-type(3){
					left:64px;
					top:60px;
					border-top:none;
					border-right:none;
				}
				&:nth-of-type(4){
					left: 661px;
					top: 60px;
					border-left:none;
					border-top:none;	
				}
			}
			input{
				width: 90%;
				height: 100%;
				font-size: 30px;
				outline: none;
				background:transparent;
				border:none;
				color:#fff;
			}
		}
	}

	.zmiti-tips{
		width: 640px;
		margin: 20px auto 0;
		color:#fff;
		img{
			width: 40px;
			margin-left: 10px;
		}
		@include pos(r);
		@include displayBox(horizontal);
		-webkit-box-pack:justify;
		&>div{
			&:nth-of-type(2){
				text-indent: -2em;
				width: 200px;

			}
		}
		span{
			display: inline-block;
			width: 30px;
			height:30px;

			@include transition(.2s);
			@include transform(rotate(180deg));
			vertical-align: middle;

			@include pos(a);

			right: 0;
			top: 10px;;

			&:before,&:after{
				content:'';
				width: 20px;
				height: 20px;
				left: 3px;
				top: 0;
				border:2px solid #42fffb;
				@include transform(rotate(45deg));
				@include pos(a);
				border-left:none;
				border-top:none;
			}

			&:after{
				margin-top:-10px;
			}


		}
	}
 
}



@-webkit-keyframes ar {
	from {
		margin-top: -5px;
	}

	to {
		margin-top: 5px;
	}

}
