.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem; }
  .zmiti-play.rotate {
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite; }

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.zmiti-form-main-ui {
  overflow: hidden;
  background: #0e0c3e;
  opacity: 0;
  z-index: -1;
  position: absolute !important; }
  .zmiti-form-main-ui.show {
    opacity: 1;
    z-index: 202; }
  .zmiti-form-main-ui .zmiti-moon1 {
    position: absolute;
    width: 150px;
    top: -40px;
    left: 30px; }
  .zmiti-form-main-ui .zmiti-plane {
    position: absolute;
    width: 250px;
    right: -50px;
    top: -50px; }
  .zmiti-form-main-ui .zmiti-subtitle {
    width: 550px;
    margin: 100px auto 0; }
  .zmiti-form-main-ui .zmiti-name-C {
    width: 750px;
    position: relative;
    margin-top: 40px; }
    .zmiti-form-main-ui .zmiti-name-C .zmiti-add {
      position: absolute;
      right: 5px;
      width: 50px;
      top: 15px; }
    .zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input {
      width: 620px;
      height: 80px;
      margin: 0 auto;
      border: 1px solid #fdeb59;
      text-align: center;
      overflow: hidden; }
      .zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input span {
        position: absolute;
        width: 20px;
        height: 20px;
        border: 3px solid #fdeb59; }
        .zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input span:nth-of-type(1) {
          left: 64px;
          top: 0;
          border-right: none;
          border-bottom: none; }
        .zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input span:nth-of-type(2) {
          left: 661px;
          top: 0;
          border-left: none;
          border-bottom: none; }
        .zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input span:nth-of-type(3) {
          left: 64px;
          top: 60px;
          border-top: none;
          border-right: none; }
        .zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input span:nth-of-type(4) {
          left: 661px;
          top: 60px;
          border-left: none;
          border-top: none; }
      .zmiti-form-main-ui .zmiti-name-C > .zmiti-name-input input {
        width: 90%;
        height: 100%;
        font-size: 30px;
        outline: none;
        background: transparent;
        border: none;
        color: #fff; }
  .zmiti-form-main-ui .zmiti-tips {
    width: 640px;
    margin: 20px auto 0;
    color: #fff;
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify; }
    .zmiti-form-main-ui .zmiti-tips img {
      width: 40px;
      margin-left: 10px; }
    .zmiti-form-main-ui .zmiti-tips > div:nth-of-type(2) {
      text-indent: -2em;
      width: 200px; }
    .zmiti-form-main-ui .zmiti-tips span {
      display: inline-block;
      width: 30px;
      height: 30px;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      vertical-align: middle;
      position: absolute;
      right: 0;
      top: 10px; }
      .zmiti-form-main-ui .zmiti-tips span:before, .zmiti-form-main-ui .zmiti-tips span:after {
        content: '';
        width: 20px;
        height: 20px;
        left: 3px;
        top: 0;
        border: 2px solid #42fffb;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        border-left: none;
        border-top: none; }
      .zmiti-form-main-ui .zmiti-tips span:after {
        margin-top: -10px; }

@-webkit-keyframes ar {
  from {
    margin-top: -5px; }
  to {
    margin-top: 5px; } }

/*# sourceMappingURL=index.css.map */
